<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(image_slideshow) -%>">
  <span class='title'>
    <%= link_to refinery.image_slideshows_admin_image_slideshow_image_slides_path(image_slideshow) do %>
      <%= image_slideshow.title %> Slideshow
    <% end %>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("img.png"), refinery.image_slideshows_admin_image_slideshow_image_slides_path(image_slideshow),
         :title => 'Manage image slides' %>
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_image_slideshows_admin_image_slideshow_path(image_slideshow),
         :title => 'Edit this image slideshow' %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.image_slideshows_admin_image_slideshow_path(image_slideshow),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => image_slideshow.title),
        :method => :delete %>
  </span>
</li>
