<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(image_slide) -%>">
  <span class='title'>
    <%= image_slide.title %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.image_slides_image_slide_path(image_slide),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_image_slides_admin_image_slide_path(image_slide),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.image_slides_admin_image_slide_path(image_slide),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => image_slide.title),
        :method => :delete %>
  </span>
</li>
