<% content_for :body_content_title do %>
  <%= @image_slideshow.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @image_slideshow.title %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="image_slideshows">
      <% @image_slideshows.each do |image_slideshow| %>
        <li>
          <%= link_to image_slideshow.title, refinery.image_slideshows_image_slideshow_path(image_slideshow) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
