<% content_for :body_content_title do %>
  <%= @image_slide.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @image_slide.title %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="image_slides">
      <% @image_slides.each do |image_slide| %>
        <li>
          <%= link_to image_slide.title, refinery.image_slides_image_slide_path(image_slide) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
